[submodule ".M4"]
	path = .M4
	url = ../InitM4.git
[submodule ".CMake"]
	path = .CMake
	url = ../InitCMake.git
[submodule "Lib/Tests"]
	path = Lib/Tests
	url = git@gitlab.com:takahiro-itou-templates/CppUnitDriver.git
